@import url('../../node_modules/antd/dist/antd.less');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

.ant-form-item {
  margin-bottom: 0;
}

/* * {
  outline: 1px solid red;
} */
